* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.container {
    width: 100%;
    background-color: black;
}
.upper-bar {
/*     background-color: black;
    width: 100%; */
    height: 50px;
/*     margin: auto;
    z-index: 1; */
    color: white;
/*     display: flex;
    position: relative; */
    
}
.upper-right {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 3px;
    right: 5px;
}
.maximize {
    background-color: rgb(71, 71, 71);
    padding: 5px;
    border-radius: 5px;
}
.speaker-view {
    background-color: rgb(71, 71, 71);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}
.bottom-bar {
    background-color: rgb(53, 52, 52);
    width: 100%;
    height: 70px;
/*     margin: auto;
    z-index: 1; */
    position: fixed;
    bottom: 0;
    color: white;
}
.call-participant {
/*     background-color: black; */
    width: calc(100% - 100px);
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-bottom: 60px;
}
.participant {
    width: calc(100%/7 - 10px);
    height: calc(100vh/5 - 40px);
    position: relative;
}
.participant img {
    object-fit: cover;
/*     object-position: 50% 50%; */
    width: 100%;
    height: 100%;

}
.bottom-left {
    display: flex;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    font-size: 22px;
    text-align: center;
    gap: 10px;

}
.bottom-center {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-align: center;
    gap: 10px;
}
.icon div {
    font-size: 14px;
}
.icon a {
    color: white;
}
.bottom-right {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    padding: 25px 20px;
    background-color: rgb(71, 71, 71);
}
.bottom-right a {
    text-decoration: none;
    color: red;
}
.user {
    position: absolute;
    bottom: 0;
/*     left: 0; */
    background-color: rgba(156, 156, 156, 0.8);
    padding: 1px;
    color: white;
}